@!(model)
<link rel="stylesheet" href="/assets/core/css/jquery-ui.css" />
<link rel="stylesheet" href="/assets/explorer/css/jstree.css" />
<style type="text/css">

    #explorer
    {
        height:100%;
    }
    
    #explorer .tab-content
    {
        overflow-y:auto;
        overflow-x:hidden;
        height:calc(100% - 45px);
    }
    
    #explorer ::-webkit-scrollbar,
    #editor ::-webkit-scrollbar
    {
        width:14px;
        height:14px;
    }
    
    #explorer ::-webkit-scrollbar-thumb,
    #editor ::-webkit-scrollbar-thumb
    {
    	border: solid 0 transparent;
    	border-right-width: 4px;
    	border-radius: 5px;
    	border-top-right-radius: 9px 5px;
    	border-bottom-right-radius: 9px 5px;
    	box-shadow: inset 0 0 0 1px rgb(79,79,79), inset 0 0 0 6px rgb(102,102,102);
    }

    #explorer ::-webkit-scrollbar-thumb:hover,
    #editor ::-webkit-scrollbar-thumb:hover
    {
    	box-shadow: inset 0 0 0 1px rgb(90,90,90), inset 0 0 0 6px rgb(110,110,110);
    }

    #explorer ::-webkit-scrollbar-thumb:horizontal,
    #editor ::-webkit-scrollbar-thumb:horizontal 
    {
    	border-right-width: 0;
    	border-bottom-width: 4px;
    	border-top-right-radius: 5px;
    	border-bottom-right-radius: 5px 9px;
    	border-bottom-left-radius: 5px 9px;
    }

    .ui-widget-tree .node
    {
        padding:2px 0;
        white-space: nowrap;
        text-overflow:ellipsis;
	}
	
    .ui-widget-tree .label
    {
        color:black;
        font-weight:normal !important;
    }
    
    #fileExplorer:focus
    {
        outline:none;
    }
    
    
    
    #fileExplorer .addFolder
    {
        color:GoldenRod;
    }
    
    
    #fileExplorer .node .addFolder,
    #fileExplorer .node .addFile,
    #fileExplorer .node .refresh
    {
        display:none;
        margin-top:3px;
        margin-right:10px;
    }
    
    #fileExplorer .node .ui-state-hover .addFolder,
    #fileExplorer .node .ui-state-hover .addFile,
    #fileExplorer .node .ui-state-hover .refresh
    {
        display:block;
        opacity:0.75;
    }
    

    #fileExplorer .leaf .addFolder,
    #fileExplorer .leaf .addFile,
    #fileExplorer .leaf .refresh
    {
        display:none !important;
    }

    .ui-widget-tree .glyphicon-folder-close,
    .ui-widget-tree .glyphicon-folder-open
    {
        color:GoldenRod;
    }
    
    #fileExplorer .has-changed.glyphicon-folder-close,
    #fileExplorer .has-changed.glyphicon-folder-open
    {
        color:FireBrick;
    }
    
    #fileExplorer .glyphicon.glyphicon-exclamation-sign
    {
        display:none;
    }

    #fileExplorer .leaf .glyphicon.glyphicon-exclamation-sign
    {
        display:inline;
        color:FireBrick;
    }

    .ui-widget-tree .label .js:before
    {
        content:'JS';
        color:GoldenRod;
        font-family:'Segoe UI Light';
        font-weight:bold;
    }
    .ui-widget-tree .label .json:before
    {
        content:'JSON';
        font-family:'Segoe UI Light';
        color:DarkRed;
        font-weight:bold;
    }
    .ui-widget-tree .label .html:before
    {
        content:'HTML';
        font-family:'Segoe UI Light';
        color:DarkGreen;
        font-weight:bold;
    }
    .ui-widget-tree .label .css:before
    {
        content:'CSS';
        font-family:'Segoe UI Light';
        font-weight:bold;
    }
    .ui-widget-tree .label .xml:before
    {
        content:'XML';
        font-family:'Segoe UI Light';
        font-weight:bold;
    }

    #editor
    {
        margin-top:10px;
        height:calc(100% - 50px);
    }

    #fileTabs .block
    {
        float:right;
    }

    #fileTabs > li:first-child
    {
        margin-left:10px;
    }

    #fileTabs .icon-edit-32,
    #fileTabs .glyphicon-pencil
    {
        display:none;
    }

    #fileTabs .unsaved .icon-edit-32,
    #fileTabs .unsaved .glyphicon-pencil
    {
        display:block;
    }
    
    #fileExplorer .unsaved .label
    {
        font-weight:bold;
    }
    
    #fileExplorer .unsaved .label:after
    {
        content:"\26ab";
        float:right;
        color:darkred;
        line-height:23px;
        margin-right:10px;
    }

#fileTabs li.active a,
#fileTabs li a:hover
    {
        margin-bottom:-1px;
        border-bottom-width:2px;
        border-bottom-style:solid;
    }

#fileTabs .js.active a,
#fileTabs .js a:hover
    {
        border-bottom-color:GoldenRod;
    }
#fileTabs .json.active a,
#fileTabs .json a:hover
    {
        border-bottom-color:DarkRed;
    }
#fileTabs .html.active a,
#fileTabs .html a:hover
    {
        border-bottom-color:DarkGreen;
    }
#fileTabs .xml.active a,
#fileTabs .xml a:hover
    {
        border-bottom-color:blue;
    }
#fileTabs .css.active a,
#fileTabs .css a:hover
    {
        border-bottom-color:yellow;
    }
</style>
<div id="explorer" class="col-md-3" role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#fileExplorer" aria-controls="fileExplorer" role="tab" data-toggle="tab" class="fa fa-files-o"></a></li>
        <li role="presentation"><a href="#git" aria-controls="git" role="tab" data-toggle="tab"><span class="fa fa-code-fork"></span></a></li>
    </ul>
    <div class="tab-content">
        <div id="fileExplorer" role="tabpanel" class="tab-pane active" tabindex="0">
        </div>
        <div id="git" role="tabpanel" class="tab-pane">
        </div>
    </div>
</div>
<div class="col-md-9" style="background-color:white; height:calc(100% - 30px)">
    <ul id="fileTabs" class="row nav nav-tabs">
    </ul>
    <div id="editor" class="row"> </div>
</div>
<script src="/assets/explorer/js/jstree.js" ></script>
<script src="/assets/explorer/js/vs/loader.js"></script>

<div id="modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>