#container li {
background-image: url("domojs.png");
    background-repeat: no-repeat;   
    list-style: none outside none;
}	
.icon-camera-128{background-position:0px 0px ; width: 128px ; height: 128px; }
.icon-user-128{background-position:-138px 0px ; width: 128px ; height: 128px; }
.icon-down-128{background-position:-276px 0px ; width: 128px ; height: 128px; }
.icon-right-128{background-position:-414px 0px ; width: 128px ; height: 128px; }
.icon-left-128{background-position:-552px 0px ; width: 128px ; height: 128px; }
.icon-up-128{background-position:-690px 0px ; width: 128px ; height: 128px; }
.icon-code-128{background-position:-828px 0px ; width: 128px ; height: 128px; }
.icon-back-128{background-position:-966px 0px ; width: 128px ; height: 128px; }
.icon-eject-128{background-position:-1104px 0px ; width: 128px ; height: 128px; }
.icon-ffw-128{background-position:-1242px 0px ; width: 128px ; height: 128px; }
.icon-pause-128{background-position:-1380px 0px ; width: 128px ; height: 128px; }
.icon-play-128{background-position:-1518px 0px ; width: 128px ; height: 128px; }
.icon-power-128{background-position:-1656px 0px ; width: 128px ; height: 128px; }
.icon-stop-128{background-position:-1794px 0px ; width: 128px ; height: 128px; }
.icon-Medium-Thumbnail-View-128{background-position:-1932px 0px ; width: 128px ; height: 128px; }
.icon-submit-128{background-position:-2070px 0px ; width: 128px ; height: 128px; }
.icon-synchronize-128{background-position:-2208px 0px ; width: 128px ; height: 128px; }
.icon-calendar-128{background-position:-2346px 0px ; width: 128px ; height: 128px; }
.icon-gears-128{background-position:-2484px 0px ; width: 128px ; height: 128px; }
.icon-video-128{background-position:-2622px 0px ; width: 128px ; height: 128px; }
.icon-wizard-128{background-position:-2760px 0px ; width: 128px ; height: 128px; }
.icon-add-128{background-position:-2898px 0px ; width: 128px ; height: 128px; }
.icon-alarm-128{background-position:-3036px 0px ; width: 128px ; height: 128px; }
.icon-cancel-128{background-position:-3174px 0px ; width: 128px ; height: 128px; }
.icon-close-128{background-position:-3312px 0px ; width: 128px ; height: 128px; }
.icon-download-128{background-position:-3450px 0px ; width: 128px ; height: 128px; }
.icon-edit-128{background-position:-3588px 0px ; width: 128px ; height: 128px; }
.icon-home-128{background-position:-3726px 0px ; width: 128px ; height: 128px; }
.icon-properties-128{background-position:-3864px 0px ; width: 128px ; height: 128px; }
.icon-shield-128{background-position:-4002px 0px ; width: 128px ; height: 128px; }
.icon-Finger-print-128{background-position:-4140px 0px ; width: 128px ; height: 128px; }
.icon-event-128{background-position:-4278px 0px ; width: 128px ; height: 128px; }
.icon-upload-128{background-position:-4416px 0px ; width: 128px ; height: 128px; }
.icon-fridge-128{background-position:-4554px 0px ; width: 128px ; height: 128px; }
.icon-washing-machine-128{background-position:-4692px 0px ; width: 128px ; height: 128px; }
.icon-laptop-128{background-position:-4830px 0px ; width: 128px ; height: 128px; }
.icon-remote-128{background-position:-4968px 0px ; width: 128px ; height: 128px; }
.icon-speaker-128{background-position:-5106px 0px ; width: 128px ; height: 128px; }
.icon-tv-128{background-position:-5244px 0px ; width: 128px ; height: 128px; }
.icon-window-128{background-position:-5382px 0px ; width: 128px ; height: 128px; }
.icon-door-128{background-position:-5520px 0px ; width: 128px ; height: 128px; }
.icon-shopping-128{background-position:-5658px 0px ; width: 128px ; height: 128px; }
.icon-minus-128{background-position:-5796px 0px ; width: 128px ; height: 128px; }
.icon-plus-128{background-position:-5934px 0px ; width: 128px ; height: 128px; }
.icon-cooker-128{background-position:-6072px 0px ; width: 128px ; height: 128px; }
.icon-Volume-down-128{background-position:-6210px 0px ; width: 128px ; height: 128px; }
.icon-Volume-up-128{background-position:-6348px 0px ; width: 128px ; height: 128px; }
.icon-Volume-mute-128{background-position:-6486px 0px ; width: 128px ; height: 128px; }
