#container li {
background-image: url("domojs.png");
    background-repeat: no-repeat;   
    list-style: none outside none;
}	
.icon-camera-64{background-position:0px 0px ; width: 64px ; height: 64px; }
.icon-user-64{background-position:-74px 0px ; width: 64px ; height: 64px; }
.icon-down-64{background-position:-148px 0px ; width: 64px ; height: 64px; }
.icon-right-64{background-position:-222px 0px ; width: 64px ; height: 64px; }
.icon-left-64{background-position:-296px 0px ; width: 64px ; height: 64px; }
.icon-up-64{background-position:-370px 0px ; width: 64px ; height: 64px; }
.icon-code-64{background-position:-444px 0px ; width: 64px ; height: 64px; }
.icon-back-64{background-position:-518px 0px ; width: 64px ; height: 64px; }
.icon-eject-64{background-position:-592px 0px ; width: 64px ; height: 64px; }
.icon-ffw-64{background-position:-666px 0px ; width: 64px ; height: 64px; }
.icon-pause-64{background-position:-740px 0px ; width: 64px ; height: 64px; }
.icon-play-64{background-position:-814px 0px ; width: 64px ; height: 64px; }
.icon-power-64{background-position:-888px 0px ; width: 64px ; height: 64px; }
.icon-stop-64{background-position:-962px 0px ; width: 64px ; height: 64px; }
.icon-Medium-Thumbnail-View-64{background-position:-1036px 0px ; width: 64px ; height: 64px; }
.icon-submit-64{background-position:-1110px 0px ; width: 64px ; height: 64px; }
.icon-synchronize-64{background-position:-1184px 0px ; width: 64px ; height: 64px; }
.icon-calendar-64{background-position:-1258px 0px ; width: 64px ; height: 64px; }
.icon-gears-64{background-position:-1332px 0px ; width: 64px ; height: 64px; }
.icon-video-64{background-position:-1406px 0px ; width: 64px ; height: 64px; }
.icon-wizard-64{background-position:-1480px 0px ; width: 64px ; height: 64px; }
.icon-add-64{background-position:-1554px 0px ; width: 64px ; height: 64px; }
.icon-alarm-64{background-position:-1628px 0px ; width: 64px ; height: 64px; }
.icon-cancel-64{background-position:-1702px 0px ; width: 64px ; height: 64px; }
.icon-close-64{background-position:-1776px 0px ; width: 64px ; height: 64px; }
.icon-download-64{background-position:-1850px 0px ; width: 64px ; height: 64px; }
.icon-edit-64{background-position:-1924px 0px ; width: 64px ; height: 64px; }
.icon-home-64{background-position:-1998px 0px ; width: 64px ; height: 64px; }
.icon-properties-64{background-position:-2072px 0px ; width: 64px ; height: 64px; }
.icon-shield-64{background-position:-2146px 0px ; width: 64px ; height: 64px; }
.icon-Finger-print-64{background-position:-2220px 0px ; width: 64px ; height: 64px; }
.icon-event-64{background-position:-2294px 0px ; width: 64px ; height: 64px; }
.icon-upload-64{background-position:-2368px 0px ; width: 64px ; height: 64px; }
.icon-fridge-64{background-position:-2442px 0px ; width: 64px ; height: 64px; }
.icon-washing-machine-64{background-position:-2516px 0px ; width: 64px ; height: 64px; }
.icon-laptop-64{background-position:-2590px 0px ; width: 64px ; height: 64px; }
.icon-remote-64{background-position:-2664px 0px ; width: 64px ; height: 64px; }
.icon-speaker-64{background-position:-2738px 0px ; width: 64px ; height: 64px; }
.icon-tv-64{background-position:-2812px 0px ; width: 64px ; height: 64px; }
.icon-window-64{background-position:-2886px 0px ; width: 64px ; height: 64px; }
.icon-door-64{background-position:-2960px 0px ; width: 64px ; height: 64px; }
.icon-shopping-64{background-position:-3034px 0px ; width: 64px ; height: 64px; }
.icon-minus-64{background-position:-3108px 0px ; width: 64px ; height: 64px; }
.icon-plus-64{background-position:-3182px 0px ; width: 64px ; height: 64px; }
.icon-cooker-64{background-position:-3256px 0px ; width: 64px ; height: 64px; }
.icon-Volume-down-64{background-position:-3330px 0px ; width: 64px ; height: 64px; }
.icon-Volume-up-64{background-position:-3404px 0px ; width: 64px ; height: 64px; }
.icon-Volume-mute-64{background-position:-3478px 0px ; width: 64px ; height: 64px; }
