#container li {
background-image: url("domojs.png");
    background-repeat: no-repeat;   
    list-style: none outside none;
}	
.icon-camera-32{background-position:0px 0 ; width: 32px ; height: 32px; }
.icon-user-32{background-position:-42px 0 ; width: 32px ; height: 32px; }
.icon-down-32{background-position:-84px 0 ; width: 32px ; height: 32px; }
.icon-right-32{background-position:-126px 0 ; width: 32px ; height: 32px; }
.icon-left-32{background-position:-168px 0 ; width: 32px ; height: 32px; }
.icon-up-32{background-position:-210px 0 ; width: 32px ; height: 32px; }
.icon-code-32{background-position:-252px 0 ; width: 32px ; height: 32px; }
.icon-back-32{background-position:-294px 0 ; width: 32px ; height: 32px; }
.icon-eject-32{background-position:-336px 0 ; width: 32px ; height: 32px; }
.icon-ffw-32{background-position:-378px 0 ; width: 32px ; height: 32px; }
.icon-pause-32{background-position:-420px 0 ; width: 32px ; height: 32px; }
.icon-play-32{background-position:-462px 0 ; width: 32px ; height: 32px; }
.icon-power-32{background-position:-504px 0 ; width: 32px ; height: 32px; }
.icon-stop-32{background-position:-546px 0 ; width: 32px ; height: 32px; }
.icon-Medium-Thumbnail-View-32{background-position:-588px 0 ; width: 32px ; height: 32px; }
.icon-submit-32{background-position:-630px 0 ; width: 32px ; height: 32px; }
.icon-synchronize-32{background-position:-672px 0 ; width: 32px ; height: 32px; }
.icon-calendar-32{background-position:-714px 0 ; width: 32px ; height: 32px; }
.icon-gears-32{background-position:-756px 0 ; width: 32px ; height: 32px; }
.icon-video-32{background-position:-798px 0 ; width: 32px ; height: 32px; }
.icon-wizard-32{background-position:-840px 0 ; width: 32px ; height: 32px; }
.icon-add-32{background-position:-882px 0 ; width: 32px ; height: 32px; }
.icon-alarm-32{background-position:-924px 0 ; width: 32px ; height: 32px; }
.icon-cancel-32{background-position:-966px 0 ; width: 32px ; height: 32px; }
.icon-close-32{background-position:-1008px 0 ; width: 32px ; height: 32px; }
.icon-download-32{background-position:-1050px 0 ; width: 32px ; height: 32px; }
.icon-edit-32{background-position:-1092px 0 ; width: 32px ; height: 32px; }
.icon-home-32{background-position:-1134px 0 ; width: 32px ; height: 32px; }
.icon-properties-32{background-position:-1176px 0 ; width: 32px ; height: 32px; }
.icon-shield-32{background-position:-1218px 0 ; width: 32px ; height: 32px; }
.icon-Finger-print-32{background-position:-1260px 0 ; width: 32px ; height: 32px; }
.icon-event-32{background-position:-1302px 0 ; width: 32px ; height: 32px; }
.icon-upload-32{background-position:-1344px 0 ; width: 32px ; height: 32px; }
.icon-fridge-32{background-position:-1386px 0 ; width: 32px ; height: 32px; }
.icon-washing-machine-32{background-position:-1428px 0 ; width: 32px ; height: 32px; }
.icon-laptop-32{background-position:-1470px 0 ; width: 32px ; height: 32px; }
.icon-remote-32{background-position:-1512px 0 ; width: 32px ; height: 32px; }
.icon-speaker-32{background-position:-1554px 0 ; width: 32px ; height: 32px; }
.icon-tv-32{background-position:-1596px 0 ; width: 32px ; height: 32px; }
.icon-window-32{background-position:-1638px 0 ; width: 32px ; height: 32px; }
.icon-door-32{background-position:-1680px 0 ; width: 32px ; height: 32px; }
.icon-shopping-32{background-position:-1722px 0 ; width: 32px ; height: 32px; }
.icon-minus-32{background-position:-1764px 0 ; width: 32px ; height: 32px; }
.icon-plus-32{background-position:-1806px 0 ; width: 32px ; height: 32px; }
.icon-cooker-32{background-position:-1848px 0 ; width: 32px ; height: 32px; }
.icon-Volume-down-32{background-position:-1890px 0 ; width: 32px ; height: 32px; }
.icon-Volume-up-32{background-position:-1932px 0 ; width: 32px ; height: 32px; }
.icon-Volume-mute-32{background-position:-1974px 0 ; width: 32px ; height: 32px; }
