#container li {
background-image: url("domojs.png");
    background-repeat: no-repeat;   
    list-style: none outside none;
}	
.icon-camera-256{background-position:0px 0px ; width: 256px ; height: 256px; }
.icon-user-256{background-position:-266px 0px ; width: 256px ; height: 256px; }
.icon-down-256{background-position:-532px 0px ; width: 256px ; height: 256px; }
.icon-right-256{background-position:-798px 0px ; width: 256px ; height: 256px; }
.icon-left-256{background-position:-1064px 0px ; width: 256px ; height: 256px; }
.icon-up-256{background-position:-1330px 0px ; width: 256px ; height: 256px; }
.icon-code-256{background-position:-1596px 0px ; width: 256px ; height: 256px; }
.icon-back-256{background-position:-1862px 0px ; width: 256px ; height: 256px; }
.icon-eject-256{background-position:-2128px 0px ; width: 256px ; height: 256px; }
.icon-ffw-256{background-position:-2394px 0px ; width: 256px ; height: 256px; }
.icon-pause-256{background-position:-2660px 0px ; width: 256px ; height: 256px; }
.icon-play-256{background-position:-2926px 0px ; width: 256px ; height: 256px; }
.icon-power-256{background-position:-3192px 0px ; width: 256px ; height: 256px; }
.icon-stop-256{background-position:-3458px 0px ; width: 256px ; height: 256px; }
.icon-Medium-Thumbnail-View-256{background-position:-3724px 0px ; width: 256px ; height: 256px; }
.icon-submit-256{background-position:-3990px 0px ; width: 256px ; height: 256px; }
.icon-synchronize-256{background-position:-4256px 0px ; width: 256px ; height: 256px; }
.icon-calendar-256{background-position:-4522px 0px ; width: 256px ; height: 256px; }
.icon-gears-256{background-position:-4788px 0px ; width: 256px ; height: 256px; }
.icon-video-256{background-position:-5054px 0px ; width: 256px ; height: 256px; }
.icon-wizard-256{background-position:-5320px 0px ; width: 256px ; height: 256px; }
.icon-add-256{background-position:-5586px 0px ; width: 256px ; height: 256px; }
.icon-alarm-256{background-position:-5852px 0px ; width: 256px ; height: 256px; }
.icon-cancel-256{background-position:-6118px 0px ; width: 256px ; height: 256px; }
.icon-close-256{background-position:-6384px 0px ; width: 256px ; height: 256px; }
.icon-download-256{background-position:-6650px 0px ; width: 256px ; height: 256px; }
.icon-edit-256{background-position:-6916px 0px ; width: 256px ; height: 256px; }
.icon-home-256{background-position:-7182px 0px ; width: 256px ; height: 256px; }
.icon-properties-256{background-position:-7448px 0px ; width: 256px ; height: 256px; }
.icon-shield-256{background-position:-7714px 0px ; width: 256px ; height: 256px; }
.icon-Finger-print-256{background-position:-7980px 0px ; width: 256px ; height: 256px; }
.icon-event-256{background-position:-8246px 0px ; width: 256px ; height: 256px; }
.icon-upload-256{background-position:-8512px 0px ; width: 256px ; height: 256px; }
.icon-fridge-256{background-position:-8778px 0px ; width: 256px ; height: 256px; }
.icon-washing-machine-256{background-position:-9044px 0px ; width: 256px ; height: 256px; }
.icon-laptop-256{background-position:-9310px 0px ; width: 256px ; height: 256px; }
.icon-remote-256{background-position:-9576px 0px ; width: 256px ; height: 256px; }
.icon-speaker-256{background-position:-9842px 0px ; width: 256px ; height: 256px; }
.icon-tv-256{background-position:-10108px 0px ; width: 256px ; height: 256px; }
.icon-window-256{background-position:-10374px 0px ; width: 256px ; height: 256px; }
.icon-door-256{background-position:-10640px 0px ; width: 256px ; height: 256px; }
.icon-shopping-256{background-position:-10906px 0px ; width: 256px ; height: 256px; }
.icon-minus-256{background-position:-11172px 0px ; width: 256px ; height: 256px; }
.icon-plus-256{background-position:-11438px 0px ; width: 256px ; height: 256px; }
.icon-cooker-256{background-position:-11704px 0px ; width: 256px ; height: 256px; }
.icon-Volume-down-256{background-position:-11970px 0px ; width: 256px ; height: 256px; }
.icon-Volume-up-256{background-position:-12236px 0px ; width: 256px ; height: 256px; }
.icon-Volume-mute-256{background-position:-12502px 0px ; width: 256px ; height: 256px; }
