#container li {
background-image: url("domojs.png");
    background-repeat: no-repeat;   
    list-style: none outside none;
}	
.icon-camera-48{background-position:0px 0px ; width: 48px ; height: 48px; }
.icon-user-48{background-position:-58px 0px ; width: 48px ; height: 48px; }
.icon-down-48{background-position:-116px 0px ; width: 48px ; height: 48px; }
.icon-right-48{background-position:-174px 0px ; width: 48px ; height: 48px; }
.icon-left-48{background-position:-232px 0px ; width: 48px ; height: 48px; }
.icon-up-48{background-position:-290px 0px ; width: 48px ; height: 48px; }
.icon-code-48{background-position:-348px 0px ; width: 48px ; height: 48px; }
.icon-back-48{background-position:-406px 0px ; width: 48px ; height: 48px; }
.icon-eject-48{background-position:-464px 0px ; width: 48px ; height: 48px; }
.icon-ffw-48{background-position:-522px 0px ; width: 48px ; height: 48px; }
.icon-pause-48{background-position:-580px 0px ; width: 48px ; height: 48px; }
.icon-play-48{background-position:-638px 0px ; width: 48px ; height: 48px; }
.icon-power-48{background-position:-696px 0px ; width: 48px ; height: 48px; }
.icon-stop-48{background-position:-754px 0px ; width: 48px ; height: 48px; }
.icon-Medium-Thumbnail-View-48{background-position:-812px 0px ; width: 48px ; height: 48px; }
.icon-submit-48{background-position:-870px 0px ; width: 48px ; height: 48px; }
.icon-synchronize-48{background-position:-928px 0px ; width: 48px ; height: 48px; }
.icon-calendar-48{background-position:-986px 0px ; width: 48px ; height: 48px; }
.icon-gears-48{background-position:-1044px 0px ; width: 48px ; height: 48px; }
.icon-video-48{background-position:-1102px 0px ; width: 48px ; height: 48px; }
.icon-wizard-48{background-position:-1160px 0px ; width: 48px ; height: 48px; }
.icon-add-48{background-position:-1218px 0px ; width: 48px ; height: 48px; }
.icon-alarm-48{background-position:-1276px 0px ; width: 48px ; height: 48px; }
.icon-cancel-48{background-position:-1334px 0px ; width: 48px ; height: 48px; }
.icon-close-48{background-position:-1392px 0px ; width: 48px ; height: 48px; }
.icon-download-48{background-position:-1450px 0px ; width: 48px ; height: 48px; }
.icon-edit-48{background-position:-1508px 0px ; width: 48px ; height: 48px; }
.icon-home-48{background-position:-1566px 0px ; width: 48px ; height: 48px; }
.icon-properties-48{background-position:-1624px 0px ; width: 48px ; height: 48px; }
.icon-shield-48{background-position:-1682px 0px ; width: 48px ; height: 48px; }
.icon-Finger-print-48{background-position:-1740px 0px ; width: 48px ; height: 48px; }
.icon-event-48{background-position:-1798px 0px ; width: 48px ; height: 48px; }
.icon-upload-48{background-position:-1856px 0px ; width: 48px ; height: 48px; }
.icon-fridge-48{background-position:-1914px 0px ; width: 48px ; height: 48px; }
.icon-washing-machine-48{background-position:-1972px 0px ; width: 48px ; height: 48px; }
.icon-laptop-48{background-position:-2030px 0px ; width: 48px ; height: 48px; }
.icon-remote-48{background-position:-2088px 0px ; width: 48px ; height: 48px; }
.icon-speaker-48{background-position:-2146px 0px ; width: 48px ; height: 48px; }
.icon-tv-48{background-position:-2204px 0px ; width: 48px ; height: 48px; }
.icon-window-48{background-position:-2262px 0px ; width: 48px ; height: 48px; }
.icon-door-48{background-position:-2320px 0px ; width: 48px ; height: 48px; }
.icon-shopping-48{background-position:-2378px 0px ; width: 48px ; height: 48px; }
.icon-minus-48{background-position:-2436px 0px ; width: 48px ; height: 48px; }
.icon-plus-48{background-position:-2494px 0px ; width: 48px ; height: 48px; }
.icon-cooker-48{background-position:-2552px 0px ; width: 48px ; height: 48px; }
.icon-Volume-down-48{background-position:-2610px 0px ; width: 48px ; height: 48px; }
.icon-Volume-up-48{background-position:-2668px 0px ; width: 48px ; height: 48px; }
.icon-Volume-mute-48{background-position:-2726px 0px ; width: 48px ; height: 48px; }
