.ui-widget-tree ul{
	list-style-type:none;
	padding:0px;
	margin-left:15px;
}

.ui-widget-tree li{
    margin-left:15px;
}

.ui-widget-tree > ul, .ui-widget-tree > ul > li{
	margin-left:0px;
}

.ui-widget-tree li .ui-icon
{
    width:16px;
    height:16px;
    margin-top:2px;
    float:left;
    cursor:pointer;
}

.ui-widget-tree .node .label
{
    cursor:pointer;
    /*display:block;*/
	margin-left: 16px;
    width: auto;
}

.ui-widget-tree .node input[type=checkbox]
{
    margin:0 5px;
    float: left;
}

.ui-widget-tree .node
{
	clear: left;
}
.ui-state-disabled 
{
	*background-color: lightgray;
}

.ui-widget-tree li.collapsed > .node > .ui-state-default > .ui-icon,
.ui-widget-tree li.collapsed > .node > .ui-state-focus > .ui-icon,
.ui-widget-tree li.collapsed > .node > .ui-state-hover > .ui-icon
{
    background-position: -32px -16px;
}

.ui-widget-tree li.expanded > .node > .ui-state-default > .ui-icon,
.ui-widget-tree li.expanded > .node > .ui-state-focus > .ui-icon,
.ui-widget-tree li.expanded > .node > .ui-state-hover > .ui-icon
{
    background-position: -48px -16px;
}

.ui-widget-tree .ui-state-default
{
    display:block;
}


.ui-widget-tree .ui-state-default, 
.ui-widget-tree .ui-widget-content .ui-state-default, 
.ui-widget-tree .ui-widget-header .ui-state-default { background: none; border-color: transparent; }

.ui-widget-tree .ui-state-focus, 
.ui-widget-tree .ui-widget-content .ui-state-focus, 
.ui-widget-tree .ui-widget-header .ui-state-focus { background-color: #e4f1fb; }
    
.ui-widget-tree .ui-state-hover, 
.ui-widget-tree .ui-widget-content .ui-state-hover, 
.ui-widget-tree .ui-widget-header .ui-state-hover { background: none; background-color: #aed0ea;}

.ui-widget-tree .ui-state-default.ui-state-error, 
.ui-widget-tree .ui-widget-content .ui-state-default.ui-state-error, 
.ui-widget-tree .ui-widget-header .ui-state-default.ui-state-error { background-color: rgb(205, 10, 10); border-color: #cd0a0a; }