*.pid
epg.xml
test.js
*.pfx
node_modules/
!node_modules/jnode
!node_modules/mvc
messages.log
.bin

# =========================
# Windows detritus
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac desktop service store files
.DS_Store

modules/device/devices.json
jnode.config
channels.json
settings.json
modules/explorer/node_modules

