{
    "./modules/settings":null,
    "./modules/db":null,
    "./modules/assets":null,
    "./modules/explorer":{"/api/explorer": "./"},
    "./modules/core":{"disabledTiles":[]},
    "mvc":
    {
            "routes":[
                    {"route":"/api/{module}/{controller}?/{action}?/{id}?", "defaults":{"action":"get"}, "filePath":"./modules/{module}/{#type}/api/{controller}.js"},
                    {"route":"/{module}?/{controller}?/{action}?/{id}?", "defaults":{"module":"core"}, "filePath":"./modules/{module}/{#type}/{controller}.js"}
            ],
            "engines":{".ejs":"ejs", ".jade":"jade", ".jazz":"jazz", ".js.html":"bliss", ".html":"raw"}
    }
}
