<html>
<head>
<script type="text/javascript" src="/js/jquery.tmpl.js"></script>

<script type="text/javascript">
	function toDictionary(params)
	{
		var result=[];
		for(var key in params)
		{
			result.push({ name:key,value:params[key]});
		}
		return result;
	}
	
	function getTemplate(selector)
	{
		return $(selector).template();
	}
</script>

<script id="trigger" type="text/x-jquery-tmpl">
	<div class="trigger">
		<span class="name" style="background-repeat:no-repeat;background-image:url('../img/ifttt/${$data.path.replace('.js', '.png')}')">
			${name}
		</span>
		{{if path=="multi.js"}}
			{{tmpl(params.triggers) getTemplate("#trigger")}}
		{{else}}
		{{if params}}
		<ul class="params" >
			{{tmpl(toDictionary(params)) getTemplate("#params") }}
		</ul>
		{{/if}}
		{{/if}}
	</div>
</script>

<script id="action" type="text/x-jquery-tmpl">
	<div class="action">
		<span class="name" style="background-repeat:no-repeat;background-image:url('../img/ifttt/${$data.path.replace('.js', '.png')}')">
			${name}
		</span>
		{{if path=="multi.js"}}
			{{tmpl(params.actions) getTemplate("#action")}}
		{{else}}
		{{if params}}
		<ul class="params" >
			{{tmpl(toDictionary(params)) getTemplate("#params")}}
		</ul>
		{{/if}}
		{{/if}}
	</div>
</script>

<script id="params" type="text/x-jquery-tmpl">
	<li>
		${name}:
		${value}
	</li>
</script>

<script id="recipe" type="text/x-jquery-tmpl">
	<div class="recipe">
	{{tmpl(trigger) getTemplate("#trigger")}}
	{{tmpl(action) getTemplate("#action")}}
	</div>
</script>
<style rel="stylesheet" type="text/css">
	.recipe
	{
		float:left;
		background:#ccc;
		margin-left: 20px;
	}
	
	.trigger span.name,
	.action span.name
	{
		display:block;
		padding-left:64px;
		line-height:64px;
	}
</style>
</head>
<body>
<div id="container">
	
</div>
<script type="text/javascript">
	$(function(){
		$.getJSON('/api/explorer/recipes.json', function(data){
			$("#recipe").tmpl(data).appendTo('#container');
		});
	});
</script>
</body>
</html>